{% extends 'SpartakProjetBundle::layout.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block stylesheets %}
  	{{ parent() }}
{% endblock %}

{% block content %}

  	<h1>Acceuil</h1>
  	<div>
	  	<h2>Mon fil d'actualitées</h2>

      <p>Hello {{ name }} !</p>

  	</div>

{% endblock %}

{% block javascripts %}
  	{{ parent() }}


{% endblock %}